In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/Diwali Sales Data.csv", encoding='cp1252')

In [ ]:
df.head(5)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
#Drop unreletrd/drop columan
df.drop([ 'Status','unnamed1'],axis=1,inplace = True)

In [ ]:
#chack for null value
df.isnull().sum()

In [ ]:
#drop null value
df.dropna(inplace=True)

In [ ]:
#chack data type
df['Amount'] = df['Amount'].astype("int")

In [ ]:
df["Amount"].dtype

In [ ]:
df.columns

In [ ]:
#rename column
df.rename(columns={'Marital_Status':'shadi'})

In [ ]:
#describe() mathod return description of the data in the datafram(i.e  count, mean, std, etc)
df.describe()

In [ ]:
#user describe () for spacipc colunm
df[['Age','Orders','Amount']].describe()

#Exploratory Data Analysis

#Gender

In [ ]:
#ploting a abr chart for Gender it's count
ax = sns.countplot(x='Gender',data=df,)


for bar in ax.containers:
  ax.bar_label(bar)

In [ ]:
#ploting a bar chart Gender vs Total amount
sales_gen =df.groupby(['Gender'],as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x='Gender',y="Amount",data=sales_gen)

#Age

In [ ]:
ax = sns.countplot(data=df,x='Age Group',hue='Gender')

for bar in ax.containers:
  ax.bar_label(bar)

In [ ]:
#Total Amount vs Age Group
sales_age =df.groupby([ 'Age Group'],as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False,ignore_index=True)
sns.barplot(x='Age Group',y='Amount',data=sales_age)

#state

In [ ]:
#total number of orders from top 10 state
sales_state =df.groupby(['State'],as_index=False)['Orders'].sum().sort_values(by='Orders',ascending=False).head(10)
sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(data=sales_state,x='State',y='Orders')

In [ ]:
#Total Amount/sales for top 10 states
sales_state = df.groupby(['State'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False).head(10)
sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(data=sales_state,x='State',y='Amount')

#Marital Stetus

In [ ]:
ax = sns.countplot(data=df,x='Marital_Status',hue='Gender')
sns.set(rc={'figure.figsize':(5,4)})

for bar in ax.containers:
  ax.bar_label(bar)

In [ ]:
sales_state = df.groupby(['Marital_Status', 'Gender'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.set(rc={'figure.figsize':(5,4)})

sns.barplot(data=sales_state,x='Marital_Status',y='Amount',hue='Gender')

#Occupation

In [ ]:
sns.set(rc={'figure.figsize':(20,5)})
ax=sns.countplot(data = df,x = 'Occupation')

for bar in ax.containers:
  ax.bar_label(bar)

In [ ]:
sales_state = df.groupby(['Occupation'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(data=sales_state,x='Occupation',y = 'Amount')
sns.set(rc={'figure.figsize':(20,5)})

#Products Category

In [ ]:
sns.set(rc={'figure.figsize':(20,5)})
ax = sns.countplot(data=df,x='Product_Category')

for bar in ax.containers:
  ax.bar_label(bar)

In [ ]:
sales_state =df.groupby(['Product_Category'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False).head(10)
sns.barplot(data=sales_state,x='Product_Category',y = 'Amount')
sns.set(rc={'figure.figsize':(20,5)})

In [ ]:
sales_state =df.groupby(['Product_ID'],as_index=False)['Orders'].sum().sort_values(by='Orders',ascending=False).head(10)
sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data=sales_state,x='Product_ID',y='Orders')

In [ ]:
#Top 10 most sale product(something as above)

fig1,ax1 = plt.subplots(figsize=(12,7))
df.groupby('Product_ID')['Orders'].sum().nlargest(10).sort_values(ascending=False).plot(kind='bar')